.page-footer {
    width: 100%;
    padding-top: 0px;
    color: $white;
    a {
        color: $white;
    }
    .pre-footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .social-icon {
        height: 31px;
        width: auto;
    }
}

.footer-logo {
    max-width: 116px;
    height: auto;
    padding-bottom: 1rem;
}

.form-inline {
    display: flex;
    justify-content: flex-end;
}

.error {
    font-size: 15em;
    font-weight: 900;
    text-align: center;
    color: $primary;
    label {
        display: none;
    }
}

.error404-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pre-footer {
    .row,
    .wpcf7-form,
    .form-inline,
    .btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.pre-footer {
    margin-top: 100px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-inline .form-group {
    flex-flow: nowrap;
}

.social-icon {
    margin: 5px;
}

@media (max-width: 992px) {
    .pre-footer {
        .col-12 {
            display: flex;
            justify-content: center;
        }
    }
}

.section {
    height: auto;
    position: relative;
}

.wpcf7-submit {
    border: 0px;
}