// object fit
//object fit cover without object-fit
.object-fit-wrap {
    float: left;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.object-fit-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

@supports (object-fit: cover) {
    .object-fit-wrap img {
        position: static;
        height: 100%;
        width: 100%;
        transform: none;
        object-fit: cover;
    }
}


/**
* Remove scrollbar
*/

%no-scrollbar {
    -ms-overflow-style: none!important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px!important;
        display: none!important;
    }
}